@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-family: "Titillium Web", sans-serif;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #40492b;
}

.acaLePonesCosas {
  border: 7px solid #DFF2D6;
}

.titulo {
  margin-left: 20px;
}

body {
  font-family: "Titillium Web", sans-serif;
  background-color: #DFF2D6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto 20px;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  width: 100%;
}
@media (max-width: 1348px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto 40px;
    grid-template-areas: "header" "main" "footer";
  }
}

header {
  grid-area: header;
  height: 100%;
  width: 100%;
}
@media (max-width: 1348px) {
  header {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
header .encabezado {
  background-color: #B0DF9A;
  color: #40492b;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  text-align: center;
  height: 150px;
}
@media (max-width: 1348px) {
  header .encabezado {
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
    margin: unset;
    padding: unset;
    margin-right: unset;
  }
}
header .encabezado #iconoYMenu {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .encabezado #iconoYMenu #logo {
  height: 70px;
  width: 70px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 70px;
}
@media (max-width: 1348px) {
  header .encabezado #iconoYMenu #logo {
    height: 70px;
    width: 70px;
    margin-bottom: 70px;
    margin-left: 10px;
    margin-top: 20px;
  }
}
header .encabezado .dropstart {
  display: none;
}
@media (max-width: 1348px) {
  header .encabezado .dropstart {
    display: unset;
    height: auto;
    overflow: visible;
    position: absolute;
    margin-left: 85vw;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
header .encabezado .dropstart .btn {
  background-color: #50AA34;
  border-color: white;
}
header .encabezado .dropstart .dropdown-menu {
  background-color: #50AA34;
}
header .encabezado .dropstart .dropdown-item {
  overflow: visible;
  color: #F3FFED;
  background-color: #50AA34;
  font-size: larger;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .encabezado nav .botones {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 20px;
}
@media (max-width: 1348px) {
  header .encabezado nav .botones {
    display: none;
  }
}
header .encabezado nav .botones .boton {
  background-color: #50AA34;
  height: 50px;
  width: 170px;
  border: 1px solid #DFF2D6;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .encabezado #login {
  font-family: "Titillium Web", sans-serif;
  font-size: small;
  display: flex;
  order: 3;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 45px;
  margin-right: 20px;
}
@media (max-width: 1348px) {
  header .encabezado #login {
    display: none;
  }
}
header .encabezado #login #credenciales {
  display: flex;
  flex-direction: column;
}

main {
  grid-area: main;
  height: 90vh;
  width: 100%;
  min-height: 740px;
}
@media (max-width: 1348px) {
  main {
    margin: unset;
    width: auto;
    height: auto;
  }
}
main #contenedorPrincipal {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  background-image: url(https://static.vecteezy.com/system/resources/previews/019/587/033/large_2x/defocused-bokeh-and-blur-background-of-garden-trees-in-sunlight-with-vintage-toned-free-photo.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  min-height: 740px;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal {
    margin: unset;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
}
main #contenedorPrincipal #buscadorPorCategoria {
  background-color: #50AA34;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: 25vw;
  margin-top: 25px;
  margin-left: 20px;
  border: 20px solid #B0DF9A;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal #buscadorPorCategoria {
    display: none !important;
  }
}
main #contenedorPrincipal #buscadorPorCategoria #buscador {
  margin-top: 30px;
}
main #contenedorPrincipal #buscadorPorCategoria .botonesNavLateral {
  margin-top: 15px;
  margin-right: 30px;
  list-style-type: none;
}
main #contenedorPrincipal .cuadritoYContenido {
  display: flex;
  flex-direction: column-reverse;
  width: 70vw;
  margin-left: 20px;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal .cuadritoYContenido {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
    width: 100%;
    margin: unset;
  }
}
main #contenedorPrincipal .cuadritoYContenido #contenedorLogin {
  height: 200px;
  width: 250px;
  background-color: #DFF2D6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 150px;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal .cuadritoYContenido #contenedorLogin {
    margin-left: unset;
    margin-top: 50px;
  }
}
main #contenedorPrincipal .cuadritoYContenido #contenido {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main #contenedorPrincipal .cuadritoYContenido .cuadroDelTitulo {
  height: 60px;
  width: 570px;
  background-color: #B0DF9A;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal .cuadritoYContenido .cuadroDelTitulo {
    height: 60px;
    width: 100%;
    background-color: #B0DF9A;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: unset;
    margin-bottom: unset;
    margin-left: unset;
    overflow: visible;
  }
}
main #contenedorPrincipal .cuadritoYContenido .cuadrito {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px;
  margin-bottom: 40px;
  height: 250px;
  width: 100%;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal .cuadritoYContenido .cuadrito {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0px;
    margin-left: unset;
    margin-bottom: unset;
  }
}
main #contenedorPrincipal .cuadritoYContenido .cuadritoConOops {
  height: auto;
}
main #contenedorPrincipal .cuadritoYContenido #videito {
  width: 800px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal .cuadritoYContenido #videito {
    width: 100%;
    height: 60vh;
    margin-top: 40px;
  }
}
main #contenedorPrincipal .cuadritoYContenido .fotuki {
  height: 250px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal .cuadritoYContenido .fotuki {
    width: 90vw;
    height: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
main #contenedorPrincipal .cuadritoYContenido .textoPues {
  width: 30%;
  max-height: 350px;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal .cuadritoYContenido .textoPues {
    height: auto;
    width: 90vw;
    margin-top: 16px;
  }
}
main #contenedorPrincipal .cuadritoYContenido .categoria {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgba(80, 170, 52, 0.8);
  width: 150px;
  height: 70px;
  border-radius: 8px;
  font-size: 24px;
  margin-bottom: 0px;
  transition: all 0.5s ease;
}
main #contenedorPrincipal .cuadritoYContenido .categoria:hover {
  transform: scale(1.5, 1.5);
}
main #contenedorPrincipal .cuadritoYContenido .categoria:active {
  transform: scale(0.5, 0.5);
  transition: all 0.1s ease;
}
main #contenedorPrincipal .cuadritoYContenido .producto {
  border: 3px solid #B0DF9A;
  border-radius: 8px;
  height: 256px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
main #contenedorPrincipal .cuadritoYContenido .producto a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #contenedorPrincipal .cuadritoYContenido #seeds {
  background-image: url("https://m.media-amazon.com/images/I/81Bhhy3-jVL._AC_UF894,1000_QL80_.jpg");
}
@media (max-width: 1348px) {
  main #contenedorPrincipal .cuadritoYContenido #seeds {
    margin-top: 40px;
  }
}
main #contenedorPrincipal .cuadritoYContenido #tools {
  background-image: url("https://cdn.mos.cms.futurecdn.net/Rx63edvSZCZ9uSg7egSDRU.jpg");
}
main #contenedorPrincipal .cuadritoYContenido #pots {
  background-image: url("https://m.media-amazon.com/images/I/71WffRxu65L._AC_UF894,1000_QL80_.jpg");
}
@media (max-width: 1348px) {
  main #contenedorPrincipal .cuadritoYContenido #pots {
    margin-bottom: 40px;
  }
}
main #contenedorPrincipal .cuadritoYContenido #soil {
  background-image: url("https://joegardener.com/wp-content/uploads/2022/11/2021-07-15-15.10.52-708X466.jpg");
}
@media (max-width: 1348px) {
  main #contenedorPrincipal .cuadritoYContenido #soil {
    margin-top: 40px;
  }
}
main #contenedorPrincipal .cuadritoYContenido #nutrients {
  background-image: url("https://hydrobuilder.com/wp/wp-content/uploads/Best_Plant_Nutrients.png");
}
main #contenedorPrincipal .cuadritoYContenido #pesticides {
  background-image: url("https://water.unl.edu/images/news/Pesticides%2C_S._Browning%2C_resized.JPG");
}
main #contenedorPrincipal .cuadritoYContenido #volver {
  background-image: url(https://static.eldiario.es/clip/2b5c10f8-c188-4394-af4c-d02dde8e800b_16-9-discover-aspect-ratio_default_0.jpg);
}
main #contenedorPrincipal #carritoYCheckout {
  background-color: #DFF2D6;
  height: 550px;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal #carritoYCheckout {
    width: 90vw;
    margin-top: 40px;
  }
}
main #contenedorPrincipal #carritoYCheckout #carrito {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal #carritoYCheckout #carrito {
    width: 80vw;
  }
}
main #contenedorPrincipal #carritoYCheckout #checkout {
  display: flex;
  flex-direction: row;
  justify-self: center;
}
main #contenedorPrincipal #carritoYCheckout #checkout #botonCheckout {
  background-color: #50AA34;
  height: 50px;
  width: 170px;
  border: 3px solid #DFF2D6;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #contenedorPrincipal #carritoYCheckout #checkout #botonCheckout:active {
  transform: scale(0.8, 0.8);
  transition: all 0.1s ease;
}
main #contenedorPrincipal #formularioObligatorio {
  background-color: #DFF2D6;
  height: 650px;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  justify-content: space-around;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal #formularioObligatorio {
    width: 90vw;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
main #contenedorPrincipal #formularioObligatorio .itemFormulario {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 50px;
}
main #contenedorPrincipal #formularioObligatorio .itemFormulario p {
  margin: unset;
}
main #contenedorPrincipal #formularioObligatorio #asterisco {
  color: red;
}
main #contenedorPrincipal #formularioObligatorio #telefono {
  width: 400px;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal #formularioObligatorio #telefono {
    width: 60vw;
  }
}
main #contenedorPrincipal #formularioObligatorio #nombre {
  width: 400px;
  margin-left: 3px;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal #formularioObligatorio #nombre {
    width: 60vw;
  }
}
main #contenedorPrincipal #formularioObligatorio #mensajito {
  height: 400px;
  width: 600px;
  font-family: "Titillium Web", sans-serif;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal #formularioObligatorio #mensajito {
    width: 80vw;
  }
}
main #contenedorPrincipal #formularioObligatorio #email {
  width: 400px;
  font-family: "Titillium Web", sans-serif;
  margin-left: 13px;
}
@media (max-width: 1348px) {
  main #contenedorPrincipal #formularioObligatorio #email {
    width: 60vw;
  }
}
main #contenedorPrincipal #formularioObligatorio #suscripcion {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main #contenedorPrincipal #formularioObligatorio #suscripcion input {
  margin-left: 20px;
}
main #contenedorPrincipal #formularioObligatorio #suscripcion p {
  margin-bottom: unset;
  margin-left: 20px;
  margin-right: 20px;
}
main #contenedorPrincipal #formularioObligatorio #botonMensaje {
  background-color: #50AA34;
  height: 50px;
  width: 170px;
  border: 3px solid #F3FFED;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F3FFED;
  font-family: "Titillium Web", sans-serif;
  font-size: large;
}
main #contenedorPrincipal #formularioObligatorio #botonMensaje:active {
  transform: scale(0.8, 0.8);
  transition: all 0.1s ease;
}

footer {
  grid-area: footer;
  width: 100%;
  height: 100%;
  font-size: small;
  color: #747c60;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
footer p {
  margin-bottom: unset;
}/*# sourceMappingURL=main.css.map */