body {
    font-family: $texto;
    background-color: $verdeGuido;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto 20px;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "footer footer footer footer";
    width: 100%;
  
    @include media-query {
      grid-template-columns: 100%;
      grid-template-rows: 1fr auto 40px;
      grid-template-areas:
        "header"
        "main"
        "footer";
    }
  }