@import "../partials/variables";

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $blancoBlancoso;
}

p {
    font-family: $texto;
}

h1 {
    font-family: $titulo;
    color: $negroGuido;
}

.acaLePonesCosas {
    border: 7px solid #DFF2D6
}

.titulo {
    margin-left: 20px;
}