@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web&display=swap');

$titulo: 'Bebas Neue', sans-serif;
$texto: 'Titillium Web', sans-serif;
$verdeVerdoso: #50AA34;
$verdeVerdito: #B0DF9A;
$verdeGuido: #DFF2D6;
$blancoGuido: #F3FFED;
$blancoBlancoso: white;
$negroGuido: #40492b;